<div class="container">
	<section class="question-details-box">
		<h1><%= question.headline %></h1>
		<p>
			<%= question.content %>
		</p>
		<div class="question-user-box">
			<p class="pull-right">
				<% if user = User.find_by(id: question.user_id) %>
					<%= user.username %>
				<% end %>
			</p>
		</div>
		<div class="vote_box">
			<% if upVotes = QuestionVote.where(type: "up",question_id: question.id) %>
				<a href="/vote_up/<%= question.id %>" class="btn btn-success" role="alert">
					+ <%= upVotes.length %>
				</a>
			<% end %>
			<% if downVotes = QuestionVote.where(type: "down",question_id: question.id) %>
				<a href="/vote_down/<%= question.id %>" class="btn btn-danger" role="alert">
					- <%= downVotes.length %>
				</a>
			<% end %>
		</div>
	</section>
	<% if answers = Answer.where(question_id: question.id) %>
		<section class="answer-details-box">
			<h3><%= answers.length %> Answers</h3>

			<% answers.each do |answer| %>
				<div class="answer-details-inside-box">
					<p>
						<%= answer.content %>
					</p>
					<div class="answer-user-box">
						<p>
							<% if user = User.find_by(id: answer.user_id) %>
								<%= user.username %>
							<% end %>
						</p>
					</div>
				</div>
			<% end %>
			
		</section>
	<% end %>
</div>